<html>
  <body>
    <h1><b><u>Was ist W.O.</u></b></h1>
    <p>
     <h3> W.O. - Wege Optimieren ist ein studentisches Softwareprojekt dreier Wirtschaftsinformatik-Studenten im 5. Semester der HWR Berlin.<p>
     Ziel ist es eine Routenoptimierung zu kreieren, die unabh&auml;ngig ist von der Reihenfolge der Zieleingabe.<br>
     Ob Gesch&auml;fts- oder Privatperson spielt dabei keine Rolle, jeder kann von der Entwicklung profitieren.</h3>
     <p><p>
      <h1><b><u>Warum W.O.</u></b></h1>
    <p>
    <h3> G&auml;ngige Routenplaner optimieren eine Strecke nur anhand von festen Wegpunkten, der Nutzer gibt vor, in welcher Reihenfolge er wohin m&ouml;chte.
    Das Optimieren beschraenkt sich dabei ausschliesslich auf die Strecke zwischen den einzelnen Punkten. Bei fixen Terminen ist das durchaus sinnvoll.
    Was ist jedoch mit all den Leuten, die einfach mehrere Anlaufstellen am Tag haben und nicht an eine feste Reihenfolge gebunden sind?
    F&uuml;r diese Leute entwickeln wir die L&ouml;sung.
    Einfach alle Orte eingeben und das Programm sagt Ihnen, womit sie anfangen sollten bzw. wie es weitergeht.</h3>
    <p><p>
      <h1><b><u>Was passiert, wenn ich mich anmelde</u></b></h1>
    <p>
    <h3> Nachdem der Nutzer sich angemeldet hat, erh&auml;lt er als erstes eine Willkommensmail.
    Der Teilnehmer hat nun die M&ouml;glichkeit durch direkten Kontakt mit den Entwicklern Einfluss auf die Gestaltung des Programms zu nehmen.
    Anmerkungen, Anregungen oder Probleme k&ouml;nnen sofort besprochen werden. In regelm&auml;&szlig;igen Abst&auml;nden werden Vorabversionen an interessierte Tester versand,
    bis die voerst entg&uuml;ltige Version entsteht. Als Dankesch&ouml;n fuer das Interesse werden alle Registrierten Personen von Zeit zu Zeit &uuml;ber einen Newsletter
    informiert.
    </p>
  </body>
</html>